/* 
Name: Rachel Winfield-Ward
Student Number: 8761871 
*/

body{
    font : normal normal normal 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
    background-color: hsla(32, 48%, 76%, 0.9);
    width: 100vw;
    height: 100vh;
    padding: 2em
}
h1{
    color: orange; 
    font-size: 50px;
}
h2{
    color: #c53;
    font-size: 1.5em
}
header{
    background-color: hsl(35, 36%, 64%);
}
nav ul li{
    display: inline;
    list-style-type: none;
}
nav ul li a{
    color: rgb(211, 92, 48);
    border: 2px solid rgb(205, 65, 14);
    background-color: burlywood;
    text-decoration: none;
    padding: 5px;
}
nav ul li a:hover{
    color:orange;
    background-color: beige;
    border-color: orange;
}
main{
    float: left;
    width: 65vw;
    background-color: hsl(35, 38%, 58%);
}
aside{
    float: right;
    width: 25vw;
    height: 40vh;
    background-color: hsl(35, 47%, 61%);
}
aside ul{
        list-style-type: circle;
}
aside li, aside a{
    color: rgba(39, 41, 1, 0.8);
    line-height: 2em;
}
aside :hover{
    color: #c54;
}
footer{
    clear: both;
    background-color: hsl(34, 32%, 50%);
}
.structural{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}
#para1{
    color: rgb(107, 5, 8)
}
#para2{
    color: rgb(52, 3, 5)
}
form{
    border: 5px dashed darkorange;
    padding: 5px;
}
input[type=text], input[type=email], input[type=sumbit], select, option{
    display: block;
    width: 50%;
    height: 2em;
}
input[type=radio], input[type=checkbox]{
    height: 1em;
    width: 1em;
}
select, option, label, legend, input[type=submit]{
    font-size: 1.5 rem;
    font-weight: bold;
    font-variant: small-caps;
}
textarea{
    display: block;
    width: 50%;
}
fieldset{
    border: none;
}
footer p{
    font-size: .75em;
}